<!--ERROR/SUCCESS MESSAGE-->
{% if messages %} {% for message in messages %} {% if "warning" in message.tags %}
<div class="alert alert-warning alert-dismissible">
    <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Deleted!</strong> {{ message }}
</div>
{% else %}
<div class="alert alert-success alert-dismissible">
    <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> {{ message }}
</div>
{% endif %} {% endfor %} {% endif %}